@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;800&display=swap");

// Primary
$cyan-light: hsl(193, 38%, 86%);
$green-neon: hsl(150, 100%, 66%);

// Neutral
$blue-grayish: hsl(217, 19%, 38%);
$blue-darkGrayish: hsl(217, 19%, 24%);
$blue-dark: hsl(218, 23%, 16%);

// Widths
$width-mobile: 375px;
$width-desktop: 1440px;

// Typography
$manrope: "Manrope", sans-serif;
$quote: 28px;

// Font weights
$font-weight--regular: 500;
$font-weight--extraBold: 800;

@mixin flexCenter($direction: row) {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: $direction;
}
