@import "./resets";
@import "./variables";

body {
  font-family: $manrope;
  background-color: $blue-dark;
}

.container {
  min-height: 100vh;
  @include flexCenter(column);
}

main {
  position: relative;
  background-color: $blue-darkGrayish;
  max-width: 54rem;
  min-height: 36rem;

  padding: 3.2rem;
  margin: 0 1.6rem;
  border-radius: 1.6rem;
  @include flexCenter(column);

  .advice-header {
    padding-top: 1rem;
    font-size: 1.4rem;
    font-weight: $font-weight--regular;
    margin-bottom: 2.4rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: $green-neon;
  }

  .advice {
    text-align: center;
    font-size: 2.8rem;
    font-weight: $font-weight--extraBold;
    margin-bottom: 2.4rem;
    color: $cyan-light;
  }

  .divider-mobile,
  .divider-desktop {
    margin-bottom: 3.2rem;
  }

  .generate-btn {
    position: absolute;
    bottom: -3.5rem;
    border: none;
    padding: 2.4rem;
    border-radius: 100rem;
    background-color: $green-neon;
    cursor: pointer;
    transition: 0.1s all;
  }

  .generate-btn:hover {
    box-shadow: 0px 0px 50px 3px rgba(82, 255, 166, 0.5);
  }

  .generate-btn:active {
    transform: scale(0.7);
  }
}

// Attribution
.attribution {
  background-color: $blue-grayish;
  color: $cyan-light;
  padding: 1.6rem;
  font-size: 1.4rem;
  text-align: center;
}

.attribution a {
  color: $green-neon;
}

// Media queries
@media (min-width: 601px) {
  .divider-mobile {
    display: none;
  }
}

@media (max-width: 601px) {
  .divider-desktop {
    display: none;
  }
}
